@font-face {
  font-family: "Poppins";
  src: url(../fonts/Poppins-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: wrap;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
}

:root {
  --font: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  color: #1B1A1A;
}


li {
  list-style-type: none;
}

body {
  color: #1B1A1A;
}

.header {
  background-color: #fff;
  position: fixed;
  display: flex;
  justify-content: center;
  height: 90px;
  width: 100%;
  top: 0;
  left: 0;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  padding: 20px;
}

.header__logo__link {
  position: relative;
  padding: 15px;
}

.header__logo {
  width: 100%;
}

.menu__icon {
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  right: 20px;
  opacity: 0;
}

.menu__span {
  background-color: #000;
  position: absolute;
  width: 100%;
  height: 3px;
  top: calc(50% - 1.5px);
  left: 0;

  &:first-child {
    top: 0;
  }

  &:last-child {
    top: auto;
    bottom: 0;
  }
}

.header__btn {
  display: none;
}

.header__list {
  position: relative;
  display: flex;
  align-items: center;
}

.header__link  {
  padding: 15px;
  font: 400 15px/24px var(--font);

  &:not(:last-child):hover {
    font: 600 15px/24px var(--font);
  }

  &:last-child {
    background-color: #1B1A1A;
    color: #FFF;
    cursor: pointer;
    border-radius: 14px;
    width: max-content;
    padding: 11px 20px;
    margin-left: 15px;
  }
}

.content {
  margin-top: 90px;
}

.architecture {
  background-color: #ECE7E4;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.architecture-inf {
  display: inline-block;
  align-self: center;
  width: 50%;
  padding: 40px;
  margin-left: 40px;
}

.architecture__title {
  font: 400 64px/70px var(--font);
  max-width: 417px;
  margin-top: 20px;
}

.architecture__desc, .architecture__link {
  font: 400 16px/24px var(--font);
}

.architecture__desc {
  max-width: 509px;
  margin-top: 18px;
}

.architecture__link {
  display: inline-block;
  border-radius: 14px;
  border: 2px solid #1b1a1a;
  padding: 11px 20px;
  margin-top: 30px;
}

.architecture__img {
  width: 50%;
}

.firm {
  display: grid;
  justify-self: center;
  grid-template-rows: repeat(3, 154px) 100px;
  grid-template-columns: 1fr 2fr;
  max-width: 768px;
  padding: 100px 30px;
}

.firm__title {
  font: 400 32px/38px var(--font);
  grid-row: 1/5;
}

.firm__desc {
  font: 400 16px/24px var(--font);
}

.firm__person {
  display: flex;
  align-items: center;
}

.firm__img {
  height: 100%;
  padding: 8px;
}

.firm__inf {
  margin-left: 30px;
}

.firm__name {
  display: block;
  font: 400 17px/26px  var(--font);
}

.firm__prof {
  font: 400 14px/1 var(--font);
  color: #645C55;
}

.library, .staircase, .swirl {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.library, .staircase {
  align-items: flex-end;
}

.library {
  background-image: url("../img/library.jpg");
}

.library__title, .staircase__title, .swirl__title {
  font: 400 14px/20px var(--font);
  text-transform: uppercase;
  letter-spacing: 2px;
}

.library__title {
  margin-right: 227px;
}

.library__desc, .staircase__desc, .swirl__desc {
  font: 400 16px/24px var(--font);
  max-width: 285px;
}

.library__desc, .staircase__desc {
  margin-right: 75px;
}

.process {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 0;
}

.process__name {
  font: 400 14px/20px var(--font);
  letter-spacing: 2px;
  text-transform: uppercase;
}

.process__title {
  font: 400 39px/42px var(--font);
}

.process__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 1140px;
  margin-top: 40px;
  grid-gap: 16px;
}

.process__item {
  text-align: center;
}

.process__img {
  width: 117px;
}

.process__category {
  font: 400 18px/26px var(--font);
  display: block;
  margin-top: 15px;
}

.process__desc {
  font: 400 15px/24px var(--font);
  width: 100%;
  padding: 0 42px;
  margin-top: 10px;
}

.customers {
  background-color: #403E3B;
  color: #FFF;
  align-items: center;
}

.customers__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-self: center;
  max-width: 1200px;
  width: 100%;
  padding: 60px 30px;
}

.customers__name {
  font: 400 14px/20px var(--font);
  text-transform: uppercase;
  letter-spacing: 2px;
}

.customers__title {
  font: 400 32px/38px var(--font);
}

.customers__desc {
  font: 400 15px/24px var(--font);
  max-width: 451px;
  margin-top: 14px;
}

.customers__logo {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(2, 216px);
  grid-template-rows: repeat(2, 145px);
}

.staircase {
  background-image: url("../img/staircase.jpg");
}

.staircase__title {
  margin-right: 165px;
}

.swirl {
  background-image: url("../img/swirl.jpg");
}

.swirl__title, .swirl__desc {
  margin-left: 60px;
}

.library, .staircase, .swirl {
  background-size: 100% 100%;
  height: 600px;
}

.projects {
  background-color: #F7F7F7;
}

.projects__container {
  justify-self: center;
  max-width: 1200px;
  padding: 120px 30px;
}

.projects__title {
  font: 400 39px/42px var(--font);
}

.projects__desc {
  font: 400 24px/30px var(--font);
  margin-top: 15px;
}

.projects__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 40px;
  grid-gap: 18px;
}

.projects__img {
  width: 100%;
}

.projects__link {
  font: 400 16px/24px var(--font);
  display: flex;
  justify-self: center;
  letter-spacing: .4px;
  border-radius: 14px;
  border: 2px solid #1b1a1a;
  padding: 11px 20px;
  margin-top: 30px;
}

.team {
  display: flex;
  justify-content: center;
  padding: 100px 30px;
  gap: 30px;
}

.team__inf {
  font: 400 32px/28px var(--font);
  display: inline-block;
  max-width: 378px;
}

.team__desc {
  font: 400 15px/24px var(--font);
  margin-top: 14px;
}

.team__link {
  font: 400 16px/24px var(--font);
  display: inline-block;
  border-radius: 14px;
  border: 2px solid #1b1a1a;
  padding: 11px 20px;
  margin-top: 40px;
  letter-spacing: .4px;
}

.team__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 100px);
  max-width: 770px;
  width: 100%;
  grid-gap: 44px 0;
}

.team__item {
  display: flex;
  align-items: center;
}

.team__img {
  height: 100%;
  padding: 8px 0;
}

.team-item-inf {
  margin-left: 30px;
}

.team-item-name {
  font: 400 17px/26px var(--font);
  display: block;
}

.team-item-prof {
  font: 400 14px/1 var(--font);
}

.get-in-touch {
  background-color: #CEC4BC;
}

.get-in-touch__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-self: center;
  max-width: 1200px;
  padding: 100px 30px;
}

.get-in-touch__desc {
  width: 50%;
}

.get-in-touch__name {
  font: 400 14px/20px var(--font);
  text-transform: uppercase;
  letter-spacing: 2px;
}

.get-in-touch__title {
  font: 400 40px/42px var(--font);
}

.get-in-touch__link {
  font: 400 16px/24px var(--font);
  letter-spacing: .4px;
  border: 2px solid #1b1a1a;
  border-radius: 14px;
  padding: 11px 20px;
}

.architecture__link:hover, .projects__link:hover, .team__link:hover, .get-in-touch__link:hover {
  color: #fff;
  background-color: #1B1A1A;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  justify-self: center;
  max-width: 1200px;
  width: 100%;
  padding: 60px 30px;
}

.footer__desc {
  span:last-of-type {
    margin-top: 0;
  }
}

.footer__inf {
  font: 400 14px/20px var(--font);
  display: block;
  margin-top: 20px;
}

.footer__media {
  display: flex;
  gap: 20px;
}

.footer__inf {
  display: block;
}

.footer__twitter {
  display: inline-block;
}

@media (max-width: 1070px) {
  .architecture {
    flex-wrap: wrap;
  }

  .architecture-inf {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-left: 0;
  }

  .architecture__title, .architecture__desc {
    text-align: center;
  }
  
  .architecture__img {
    width: 100%;
  }
}

@media (max-width: 1000px) {
  .team {
    flex-wrap: wrap;
  }

  .team__inf {
    text-align: center;
  }

  .team__list {
    max-width: 600px;
  }

  .team__item {
    &:nth-child(2n) {
      justify-content: flex-end;
    }
  }
}

@media (max-width: 885px) {

  .header__logo {
    width: 100%;
  }

  .header__list {
    display: contents;
  }

  .header__menu {
    display: none;

    &.active {  
      background-color: #CEC4BC;
      position: absolute;
      display: flex;
      flex-direction: column;
      align-items: center;
      top: 90px;
      right: 0;
      width: 100%;
      gap: 10px;
      padding: 10px;
    }
  }

  .menu__icon {
    opacity: 1;
  }

  .header__list {
    width: 100%;
    height: 100%;
  }

}

@media (max-width: 725px) {
  .firm {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr repeat(4, 2fr);
    padding-top: 90px;
  }

  .firm__desc {
    margin-top: 20px;

    &:first-of-type {
      margin-top: 0;
      align-self: flex-end;
    }
  }

  .firm__title {
    grid-row: 1/2;
    align-self: center;
  }

  .firm__img {
    width: 100px;
    height: 100px;
  }

  .customers__container {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }
}

@media (max-width: 580px) {
  .process__list {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
  }

  .process__item {
    max-width: 300px;
  }

  .projects__container {
    text-align: center;
  }

  .projects__list {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
  }

  .projects__img {
    width: 75%;
  }
}

@media (max-width: 500px) {
  .team__list {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
  }

  .team__item {
    justify-self: center;
    margin-left: 0;
  }

  .team__img {
    width: 100px;
  }

  .get-in-touch__container {
    flex-wrap: wrap;
  }

  .get-in-touch__desc {
    width: 100%;
  }

  .get-in-touch__link {
    margin-top: 20px;
  }

  .process__title {
    text-align: center;
    padding: 0 30px;
  }
}

@media (max-width: 450px) {
  .architecture-inf {
    text-align: start;
    padding: 40px 10px;
  }

  .architecture__title {
    font: 400 44px/50px var(--font);
    width: 100%;
  }

  .firm {
    padding: 40px 30px;
  }

  .customers__logo {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 30px;
  }
}

@media (max-width: 425px) {
  .footer {
    flex-wrap: wrap;
  }

  .footer__media {
    margin-top: 20px;
  }

  .library, .staircase {
    align-items: flex-start;
  }

  .staircase__title, .staircase__desc, .library__title, .library__desc, .swirl__title, .swirl__desc {
    margin-right: 0;
    margin-left: 30px;
  }
}

@media (max-width: 345px) {
  .header__container {
    position: relative;
  }

  .header__logo {
    width: 80%;
  }

  .architecture__title {
    font: 400 34px/40px var(--font);
  }

  .architecture__desc {
    padding: 0 10px;
  }

  .footer__logo {
    width: 75%;
  }

  .projects__desc {
    font: 400 19px / 25px var(--font);
  }

  .firm {
    grid-template-rows: 1fr repeat(3, 3fr) 1fr;
    padding: 40px 20px;
  }

  .firm__inf {
    margin-right: 0;
    margin-left: 0;
  }

  .firm__person {
    flex-wrap: wrap;
  }

  .projects__container {
    padding: 120px 10px;
  }

  .projects__title {
    font: 400 29px / 32px var(--font);
  }

  .customers__title {
    font: 400 27px / 33px var(--font);
  }
}

@media (max-width: 290px) {
  .team__item {
    flex-wrap: wrap;
    justify-content: center!important;
  }

  .team__img {
    height: 100px;
    width: 100px;
  }

  .header__container {
    padding: 20px 10px;
  }
}